[Unit]
Description=PVE host configuration backup to Proxmox Backup Server
Wants=network-online.target
After=network-online.target pve-cluster.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pve-config-backup.sh
User=root
Group=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
