ZABBIX_API_URL=https://zabbix.openmain-it.de/api_jsonrpc.php
ZABBIX_ADMIN_API_TOKEN=
OPENMAIN_CRITICAL_PLATFORMS=opnsense,pve,idrac,nas,qnap,synology
OPENMAIN_CRITICAL_HOST_REGEX=(?i)(zabbix|grafana|netbird|authentik|mailcow|vaultwarden|pbs)
